---
import Docu from "../layouts/Document.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/BackToTopButton.astro";
import Documen from "../components/Documents/DocumentSection.astro"
---

<!-- CONTENIDO DE LA WEB -->
<Docu title="DOCUMENTOS">
  <main>
    <Header/>
    <Documen/>
    <Footer />
    <Button />
  </main>
</Docu>
