<section
  class="bg-white-100 dark:bg-white-900 py-12 pb-20 md:pb-12 order-2 md:order-2"
  id="about"
>
  <div class="max-w-screen-xl mx-auto px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center">
      <!-- Imagen a la izquierda -->
      <div class="w-full md:w-1/2 mb-6 md:mb-0">
        <img
          class="w-full h-auto object-cover rounded-lg"
          src="../../public/sobren.png"
          alt="Imagen de Sobre Nosotros"
        />
      </div>
      <!-- Texto a la derecha -->
      <div
        class="w-full md:w-1/2 md:pl-8 bg-white p-4 space-y-2 rounded-md hover:-translate-y-2 duration-300"
      >
        <h2 class="text-4xl font-extrabold text-gray-900 dark:text-black mb-4">
          Sobre Nosotros
        </h2>
        <p class="text-lg leading-6 text-gray-600 dark:text-black-300">
          FiberHome-Patate es una empresa 100% Patateña dedicada a proveer
          servicios de acceso a Internet. Somos la primera empresa que llegó con
          fibra óptica a nuestro cantón, con cobertura total. Llevamos Internet
          de calidad donde otras compañías no pueden, y a la máxima velocidad.
          Trabajamos con nuestra propia red de fibra óptica. Nuestra atención es
          personalizada y contamos con personal altamente calificado, lo que nos
          permite crecer y ofrecer la confianza y tranquilidad que el usuario
          necesita.
        </p>
      </div>
    </div>
  </div>
</section>
