<section
  class="pt-24 md:pt-20 bg-cover bg-[url('../../public/fondo_pantalla.jpg')] h-screen w-full"
>
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
  >
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
    >
      <h1 class="text-5xl font-extrabold leading-none sm:text-6xl">
        Internet de calidad con <span class="dark:text-green-600">FIBERHOME</span>
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Ofrecemos un servicio de calidad. Planes que se ajustan a tus
        necesidades.
      </p>
      <div
        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
      >
        <a
          href="/contratacion"
          class="px-8 py-3 text-lg font-semibold rounded dark:bg-blue-600 dark:text-gray-50"
        >
          Contratar
        </a>
        <a
          href="/mas-info"
          class="px-8 py-3 text-lg font-semibold border rounded dark:border-gray-800"
        >
          Ver Más
        </a>
      </div>
    </div>
    <div
      class="hidden lg:flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
    >
      <img
        src="../../public/RENDER_PNG_LOGO.png"
        alt="Logo de Fiberhome"
        class="object-contain h-72 sm:h-80 lg:h-64 xl:h-112 2xl:h-128"
      />
    </div>
  </div>
</section>
