---

---

<section class="my-8">
  <div class="text-center mb-12">
    <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
      !ENCUENTRANOS EN PATATE!
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-600">
      FiberHome, a tu alcance!
    </p>
  </div>
  <div class="flex flex-col md:flex-row items-center justify-center">
    <!-- Imagen a la derecha -->
    <div class="md:w-1/2 text-center">
      <img
        src="../../public/mapa.jpg"
        alt="Imagen"
        class="w-full h-auto rounded-lg shadow-md"
      />
    </div>
    <!-- Título y mapa a la izquierda -->
    <div class="md:w-1/2 p-4">
      
      <!-- Mapa de Google Maps -->
      <iframe
        id="google-maps"
        class="w-full h-80 rounded-lg shadow-md"
        frameborder="0"
        loading="lazy"
        allowfullscreen=""></iframe>
    </div>
  </div>
</section>

<script>
  var latitude = -1.312486;
  var longitude = -78.507141;

  function actualizarIframe(latitude, longitude) {
    var iframe = document.getElementById("google-maps");
    var newUrl = `https://www.google.com/maps?q=${latitude},${longitude}&output=embed`;
    iframe.src = newUrl;
  }

  actualizarIframe(latitude, longitude);
</script>
